# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Association Musique et Danse - Pont Saint Martin
email: musiquepsm@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  Association Musique et Danse de Pont Saint Martin (à proximité de Nantes, Bouguenais, Rezé, Saint Aignan de Grand Lieu).
  Multiples activités proposées.
  Musique : solfège, formation musicale, flûte traversière, piano, trompette, trombonne, saxophone, guitare classique, guitare électrique, batterie
  Danse : ?
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://amd-psm.fr" # the base hostname & protocol for your site, e.g. http://example.com
repository: "amd-pontsaintmartin/amd-pontsaintmartin.github.io"
locale: fr-FR
collections:
- professeurs_musique
- professeurs_danse
include: ["_pages"]
github: [metadata]

# Build settings
theme: minimal-mistakes-jekyll
minimal_mistakes_skin: "mint"
defaults:
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: false
      toc: true
      classes: wide_post
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: false
      read_time: false
      comments: false
      share: true
      related: true
      classes: wide_post

search: true
header: /assets/images/teaser.jpg
logo: /assets/images/logo-transparent.png
footer:
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/amd-pontsaintmartin"
    - label: "Musique"
      icon: "fas fa-envelope-square"
      url: "mailto:musiquepsm@gmail.com"
    - label: "Danse"
      icon: "fas fa-envelope-square"
      url: "mailto:dansepsm@gmail.com"
    - label: "Facebook"
      icon: "fab fa-facebook"
      url: "https://www.facebook.com/profile.php?id=100093292129024"

plugins:
  - jekyll-feed
  - jekyll-include-cache
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-paginate

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
